{% extends 'estructura.html' %}
{% block contenedor %}
<br>
<style>
    .audio-btn {
        background: linear-gradient(135deg, #50798d, #6a9dbb);
        color: white;
        border: none;
        padding: 8px 16px;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.3s ease;
        font-weight: bold;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .audio-btn:hover {
        transform: scale(1.1);
        background: linear-gradient(135deg, #426575, #5a8ba4);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }


    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
        transform: translateY(-10px);
        /* Se mueve hacia arriba */
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        /* Sombra suave */
    }

    .card {
        border: none;
        border-radius: 15px;
        overflow: hidden;
        background-color: #f8f9fa;
    }

    .card .card-body {
        padding: 15px;
    }

    .card-title {
        font-size: 1.1rem;
        color: #343a40;
    }

    .card:hover {
        transform: translateY(-10px);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }
</style>
<section class="container">
    <!-- <h1 class="text-center mb-4" style="background: linear-gradient(135deg, #83a4d4, #b6fbff);
        text-shadow: 1px 1px 3px rgba(0,0,0,0.3); 
        color: rgb(128, 110, 110); 
        border-radius: 10px; padding: 10px;">
        Integrantes de la Familia
    </h1> -->
    <!-- CERO TARJETAS -->
    <div class="card-group row">
        <div class="row row-cols-2 row-cols-md-3  row-cols-lg-4">

            <!-- ABUELO-->
            <div class="col">
                <div class="card border border-5 border_card shadow-sm" style="width: 100%; max-width: 13rem;">
                    <div class="d-flex justify-content-center mt-3">
                        <div class="rounded-circle overflow-hidden" style="width: 120px; height: 120px;">
                            <img src="/static/img/familia/abuelo.png" alt="Foto de perfil"
                                class="img-fluid w-100 h-100 object-fit-cover">
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-muted">
                            <b><i><em>Abuelo</em></i></b>
                        </h5>
                        <div class="d-grid gap-2">
                            <a class="btn btn-outline-secondary border-2 border_tem">
                                <b><i>Mol tot</i></b>
                            </a>
                            <br>
                            <button class="audio-btn " onclick="playAudio('/static/audio/papa.mp3')">
                                🔊 Escuchar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ABUELA-->
            <div class="col">
                <div class="card border border-5 border_card shadow-sm" style="width: 100%; max-width: 13rem;">
                    <div class="d-flex justify-content-center mt-3">
                        <div class="rounded-circle overflow-hidden" style="width: 120px; height: 120px;">
                            <img src="/static/img/familia/abuela.jpg" alt="Foto de perfil"
                                class="img-fluid w-100 h-100 object-fit-cover">
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-muted">
                            <b><i><em>Abuela</em></i></b>
                        </h5>
                        <div class="d-grid gap-2">
                            <a class="btn btn-outline-secondary border-2 border_tem">
                                <b><i>Yaya</i></b>
                            </a>
                            <br>
                            <button class="audio-btn " onclick="playAudio('/static/audio/papa.mp3')">
                                🔊 Escuchar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PAPA -->
            <div class="col">
                <div class="card border border-5 border_card shadow-sm" style="width: 100%; max-width: 13rem;">
                    <div class="d-flex justify-content-center mt-3">
                        <div class="rounded-circle overflow-hidden" style="width: 120px; height: 120px;">
                            <img src="/static/img/familia/papa.jpg" alt="Foto de perfil"
                                class="img-fluid w-100 h-100 object-fit-cover">
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-muted">
                            <b><i><em>Papa</em></i></b>
                        </h5>
                        <div class="d-grid gap-2">
                            <a class="btn btn-outline-secondary border-2 border_tem">
                                <b><i>Pap</i></b>
                            </a>
                            <br>
                            <button class="audio-btn " onclick="playAudio('/static/audio/papa.mp3')">
                                🔊 Escuchar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MAMA-->
            <div class="col">
                <div class="card border border-5 border_card shadow-sm" style="width: 100%; max-width: 13rem;">
                    <div class="d-flex justify-content-center mt-3">
                        <div class="rounded-circle overflow-hidden" style="width: 120px; height: 120px;">
                            <img src="/static/img/familia/mama.jpg" alt="Foto de perfil"
                                class="img-fluid w-100 h-100 object-fit-cover">
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-muted">
                            <b><i><em>Mam</em></i></b>
                        </h5>
                        <div class="d-grid gap-2">
                            <a class="btn btn-outline-secondary border-2 border_tem">
                                <b><i>Tz'i't</i></b>
                            </a>
                            <br>
                            <button class="audio-btn " onclick="playAudio('/static/audio/papa.mp3')">
                                🔊 Escuchar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- HERMANO -->
            <div class="col">
                <div class="card border border-5 border_card shadow-sm" style="width: 100%; max-width: 13rem;">
                    <div class="d-flex justify-content-center mt-3">
                        <div class="rounded-circle overflow-hidden" style="width: 120px; height: 120px;">
                            <img src="/static/img/familia/hermano.png" alt="Foto de perfil"
                                class="img-fluid w-100 h-100 object-fit-cover">
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-muted">
                            <b><i><em>Hermano</em></i></b>
                        </h5>
                        <div class="d-grid gap-2">
                            <a class="btn btn-outline-secondary border-2 border_tem">
                                <b><i>Bankil</i></b>
                            </a>
                            <br>
                            <button class="audio-btn " onclick="playAudio('/static/audio/papa.mp3')">
                                🔊 Escuchar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- HERMANA -->
            <div class="col">
                <div class="card border border-5 border_card shadow-sm" style="width: 100%; max-width: 13rem;">
                    <div class="d-flex justify-content-center mt-3">
                        <div class="rounded-circle overflow-hidden" style="width: 120px; height: 120px;">
                            <img src="/static/img/familia/hermana.png" alt="Foto de perfil"
                                class="img-fluid w-100 h-100 object-fit-cover">
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-muted">
                            <b><i><em>Hermana</em></i></b>
                        </h5>
                        <div class="d-grid gap-2">
                            <a class="btn btn-outline-secondary border-2 border_tem">
                                <b><i>Fix</i></b>
                            </a>
                            <br>
                            <button class="audio-btn " onclick="playAudio('/static/audio/papa.mp3')">
                                🔊 Escuchar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PRIMA -->
            <div class="col">
                <div class="card border border-5 border_card shadow-sm" style="width: 100%; max-width: 13rem;">
                    <div class="d-flex justify-content-center mt-3">
                        <div class="rounded-circle overflow-hidden" style="width: 120px; height: 120px;">
                            <img src="/static/img/familia/hijo.png" alt="Foto de perfil"
                                class="img-fluid w-100 h-100 object-fit-cover">
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-muted">
                            <b><i><em>Hijo</em></i></b>
                        </h5>
                        <div class="d-grid gap-2">
                            <a class="btn btn-outline-secondary border-2 border_tem">
                                <b><i>Jkerem</i></b>
                            </a>
                            <br>
                            <button class="audio-btn " onclick="playAudio('/static/audio/papa.mp3')">
                                🔊 Escuchar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PRIMO-->
            <div class="col">
                <div class="card border border-5 border_card shadow-sm" style="width: 100%; max-width: 13rem;">
                    <div class="d-flex justify-content-center mt-3">
                        <div class="rounded-circle overflow-hidden" style="width: 120px; height: 120px;">
                            <img src="/static/img/familia/hija.png" alt="Foto de perfil"
                                class="img-fluid w-100 h-100 object-fit-cover">
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-muted">
                            <b><i><em>Hija</em></i></b>
                        </h5>
                        <div class="d-grid gap-2">
                            <a class="btn btn-outline-secondary border-2 border_tem">
                                <b><i>Jtseum</i></b>
                            </a>
                            <br>
                            <button class="audio-btn " onclick="playAudio('/static/audio/papa.mp3')">
                                🔊 Escuchar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border border-5 border_card shadow-sm" style="width: 100%; max-width: 13rem;">
                    <div class="d-flex justify-content-center mt-3">
                        <div class="rounded-circle overflow-hidden" style="width: 120px; height: 120px;">
                            <img src="/static/img/familia/primo.png" alt="Foto de perfil"
                                class="img-fluid w-100 h-100 object-fit-cover">
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-muted">
                            <b><i><em>Primo</em></i></b>
                        </h5>
                        <div class="d-grid gap-2">
                            <a class="btn btn-outline-secondary border-2 border_tem">
                                <b><i>Primo</i></b>
                            </a>
                            <br>
                            <button class="audio-btn " onclick="playAudio('/static/audio/papa.mp3')">
                                🔊 Escuchar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border border-5 border_card shadow-sm" style="width: 100%; max-width: 13rem;">
                    <div class="d-flex justify-content-center mt-3">
                        <div class="rounded-circle overflow-hidden" style="width: 120px; height: 120px;">
                            <img src="/static/img/familia/prima.jpg" alt="Foto de perfil"
                                class="img-fluid w-100 h-100 object-fit-cover">
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-muted">
                            <b><i><em>Prima</em></i></b>
                        </h5>
                        <div class="d-grid gap-2">
                            <a class="btn btn-outline-secondary border-2 border_tem">
                                <b><i>Prima</i></b>
                            </a>
                            <br>
                            <button class="audio-btn " onclick="playAudio('/static/audio/papa.mp3')">
                                🔊 Escuchar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border border-5 border_card shadow-sm" style="width: 100%; max-width: 13rem;">
                    <div class="d-flex justify-content-center mt-3">
                        <div class="rounded-circle overflow-hidden" style="width: 120px; height: 120px;">
                            <img src="/static/img/familia/tio.png" alt="Foto de perfil"
                                class="img-fluid w-100 h-100 object-fit-cover">
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-muted">
                            <b><i><em>Tio</em></i></b>
                        </h5>
                        <div class="d-grid gap-2">
                            <a class="btn btn-outline-secondary border-2 border_tem">
                                <b><i>Juntot</i></b>
                            </a>
                            <br>
                            <button class="audio-btn " onclick="playAudio('/static/audio/papa.mp3')">
                                🔊 Escuchar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border border-5 border_card shadow-sm" style="width: 100%; max-width: 13rem;">
                    <div class="d-flex justify-content-center mt-3">
                        <div class="rounded-circle overflow-hidden" style="width: 120px; height: 120px;">
                            <img src="/static/img/familia/tia.jpg" alt="Foto de perfil"
                                class="img-fluid w-100 h-100 object-fit-cover">
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-muted">
                            <b><i><em>Tia</em></i></b>
                        </h5>
                        <div class="d-grid gap-2">
                            <a class="btn btn-outline-secondary border-2 border_tem">
                                <b><i>Junto meh'</i></b>
                            </a>
                            <br>
                            <button class="audio-btn " onclick="playAudio('/static/audio/papa.mp3')">
                                🔊 Escuchar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border border-5 border_card shadow-sm" style="width: 100%; max-width: 13rem;">
                    <div class="d-flex justify-content-center mt-3">
                        <div class="rounded-circle overflow-hidden" style="width: 120px; height: 120px;">
                            <img src="/static/img/familia/novio.jpg" alt="Foto de perfil"
                                class="img-fluid w-100 h-100 object-fit-cover">
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-muted">
                            <b><i><em>Novio</em></i></b>
                        </h5>
                        <div class="d-grid gap-2">
                            <a class="btn btn-outline-secondary border-2 border_tem">
                                <b><i>Novio</i></b>
                            </a>
                            <br>
                            <button class="audio-btn " onclick="playAudio('/static/audio/papa.mp3')">
                                🔊 Escuchar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border border-5 border_card shadow-sm" style="width: 100%; max-width: 13rem;">
                    <div class="d-flex justify-content-center mt-3">
                        <div class="rounded-circle overflow-hidden" style="width: 120px; height: 120px;">
                            <img src="/static/img/familia/novia.jpg" alt="Foto de perfil"
                                class="img-fluid w-100 h-100 object-fit-cover">
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title text-muted">
                            <b><i><em>Novia</em></i></b>
                        </h5>
                        <div class="d-grid gap-2">
                            <a class="btn btn-outline-secondary border-2 border_tem">
                                <b><i>Novia</i></b>
                            </a>
                            <br>
                            <button class="audio-btn " onclick="playAudio('/static/audio/papa.mp3')">
                                🔊 Escuchar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    function playAudio(audioFile) {
        let audio = new Audio(audioFile);
        audio.play();
    }

</script>
{% endblock %}