<div id="layoutSidenav_content">
    <main>
        <div class="container px-0 lg">
            <h3 class="mt-4"><b class="text-muted"><i>Lista de Registros Usuarios</i></b></h3>
            <br>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <a href="{{url_for("formulario_registrar_usuarios")}}" 
                        style="width: 150px;
                            text-align: left;
                            height: 50px;
                            background-color:#B3E5FC;
                            border-style: none;
                            color: #757575;
                            border-radius: 10px;
                            text-decoration: none;
                            top: 120%;"
                        >
                        <div style="margin-top: 11px;
                                margin-left:37px;">
                            <b>Registrar</b>
                        </div>
                    </a>
                </div>
            </div>
            <br>

            {% with messages = get_flashed_messages() %}
                {% if messages%} 
                    <br>
                    {% for message in messages%}

                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98
                                    1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 
                                    3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </symbol>
                        </svg>
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"4><use xlink:href="#exclamation-triangle-fill"/></svg>
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"> </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="card mb-4 border border-2 border_card">
                <div class="card-header text-muted">
                    <i class="fas fa-table me-1"></i>
                    Tabla de Registros Usuarios
                </div>
                <div class="card-body">

                    <!-- <table id="datatablesSimple" class="table">
                        <p>
                          <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Link with href
                          </a>
                          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Button with data-target
                          </button>
                        </p>
                        <div class="collapse" id="collapseExample">
                          <div class="card card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                          </div>
                        </div>
                    </table>  -->
                    <!-- <table id="datatablesSimple" class="table">
                        <thead>
                            <tr class="table-info">
                                <th><i>Nombre</i></th>
                                <th><i>Username</i></th>
                                <th><i>Password</i></th>
                                
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th><i>Nombre</i></th>
                                <th><i>Username</i></th>
                                <th><i>Password</i></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for username_db in usuarios_db %}
                            <tr>
                                <td>{{username_db[1]}}</td>
                                <td>{{username_db[2]}}</td>
                                <td>{{username_db[3]}}</td>
                            </tr>

                            {% endfor%}
                        </tbody>
                    </table>   -->
                </div>
                <div class="box-body">
                    <table id="tabla_asistencias"
                        class="table table-bordered table-condensed table-hover responsive"
                            cellspacing="0" width="100%">
                              <thead>
                                <tr style="background-color: #79a1b9">
                                 <th class="text-center" style="color: aliceblue;">Nombre</th>
                                 <th class="text-center" style="color: aliceblue;">Username</th>
                                 <th class="text-center" style="color: aliceblue;">Password</th>
                                 <th class="text-center" style="color: aliceblue;">Opciones</th>
                               </tr>
                            </thead>

                            
                            <tbody>
                                {% for username_db in usuarios_db %}
                                <tr>
                                    <!-- <td>{{username_db[0]}}</td> -->
                                    <td>{{username_db[1]}}</td>
                                    <td>{{username_db[2]}}</td>
                                    <td>{{username_db[3]}}</td>
                                    <td><button type="button" class="btn btn-warning">Editar</button></td>
                                </tr>

                                {% endfor%}
                            </tbody>
                            <br>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
<br>